body{
	background-color: white !important;
	background-image: url('../img/sicbrasBGBranco.png') !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	overflow-y:hidden;
}
input:focus{
	border-color:#007a64;
}
.login-box-body{
	background:transparent;
}
.sic{
	background-color: #007a64;
	border: 2px solid #007a64;
	color:white !important;
}
.sic:hover{
	background-color:white;
	border: 2px solid #007a64;
	color: #007a64!important;
	transition: 0.4s;
}